.border-box-middle {
    color: black;
    width: 100%;
    font-weight: bold;
    color: #3c8dbc;
}

.title-box {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.table-history th {
    width: 400px;
    font-weight: normal;
}

.pagination {
    margin: 0;
    float: right;
}

.filter-input {
    width: 150px;
    margin-right: 10px;
    float: left;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 30px;
}

.search-button-container {
    width: 30px;
}

.search-button {
    height: 30px;    
    padding: 4px 12px !important;
}


table.data tr td {
    min-width: 120px;
}

table.datashiftLeft {
    width: 250px;
    position: absolute;
}

table.datashiftLeft tr td {
    background-color: white;
    height: 38px;
}

table.datashiftLeft tr th {
    background-color: white;
    height: 38px;
}


table.datashift {
    margin-left: 250px;
}

table.datashift tr td {
    min-width: 50px;
    font-size: 13px;
    height: 38px;
}

table.datashift tr th {
    text-align: center;
    height: 38px;
}

table.datashift tr td.infot {
    min-width: 150px !important;
}

table.datashift tr td.jumlah {
    min-width: 80px !important;
    text-align: center;
}

.main-data {
    height: 58px !important;
}


.mesin_name {
    font-weight: bold !important;
    font-size: 14px !important;
}

.title-box {
    width: 100%;
    font-weight: bold;
    color: #3c8dbc;
}

.table-link {
    font-weight: bold;
    color: #3c8dbc;
}

.table-button {
    margin-right: 5px;
    padding: 3px 15px;
}

.rp-btn-group {
    width: 100%;
}

.rp-btn-group form {
    float: left;
}

/* scroll bar css */

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 8px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
} 

.btn-filter {
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px 15px;
}

.treeview-menu li {
    padding: 8px 0;
}

.box-tools {
    width: 100% !important;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.bg-pink { 
    background-color: rgb(252, 212, 219);
}

.active-select-button {
    background-color: #3c8dbc;
    color: white;
}