/* table {
    width: 250px !important;
}

.datashift{
    width: 6000px !important;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 350px;
    overflow-y: auto;
}

thead th {
    float: left;
    height: auto !important;
}

tbody td {
    float: left;
} */

.tableFixHead          { 
    overflow-y: auto; 
    height: 450px !important; 
    position: relative;
    border-collapse: separate !important;
}

.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background-color: white !important; }
.tableFixHead thead td { position: sticky; top: 36px; z-index: 1;background-color: white !important; }
.tableFixHead tbody td:first-child { position: sticky; left: 0px; z-index: 90; background-color: white !important;}
.tableFixHead thead th:first-child { position: sticky; left: 0px; z-index: 100; background-color: white !important}
.tableFixHead thead td:first-child { position: sticky; left: 0px; z-index: 100; background-color: white !important}
.tableFixHead tbody td:nth-child(2) { position: sticky; left: 80px; z-index: 90; background-color: white !important}
.tableFixHead thead th:nth-child(2) { position: sticky; left: 80px; z-index: 100; background-color: white !important}
.tableFixHead thead td:nth-child(2) { position: sticky; left: 80px; z-index: 100; background-color: white !important}


/*  for border */
.tableFixHead thead th {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 11px;
}

.tableFixHead thead td {
    /* Apply both top and bottom borders to the <th> */
    border-top: 1px solid black !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 11px;
}
      
  
.tableFixHead tbody tr td {
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    font-size: 11px !important;
}

.tableFixHead tbody tr:nth-last-child(2) td {
    border-bottom: 1px solid black !important;
    font-size: 11px !important;
}

.tableFixHead th:first-child,
.tableFixHead td:first-child {
    /* Apply a left border on the first <td> or <th> in a row */
    border-left: 1px solid black !important;
    font-size: 11px;
}

