body {
    padding: 20px 50px;
}

.live2 {
    background-color: #02152F;
    color: white;
}

.gear {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.table tr th {
    border: 2px solid #5482AC !important;
    text-align: center;
    color: yellow;
}

.table tr td {
    border: 2px solid #5482AC !important;
    text-align: center;
    letter-spacing: 1px;
}

.progress {
    border: 1px solid #44B0E8;
}

.first {
    line-height:30px;
}

.info-wrapper {
    text-align: center;
}